  <!-- Header -->
  <header id="header">
    <div class="inner">
      <!-- Logo -->
      <a href="index.html" class="logo">
        <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">진원 놀이터</span>
      </a>
      <!-- Nav -->
      <nav>
        <ul>
          <li><a href="#menu">Menu</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="generic.html">글쓰기</a></li>
      <li><a href="generic.html">로그인</a></li>
    </ul>
  </nav>
